In [ ]:
pip install pandas SQLAlchemy requests apache-airflow

Load the data from csv

In [3]:
import pandas as pd
customer_df= pd.read_csv('customer_data.csv')
order_df= pd.read_csv('order_data.csv')
product_df= pd.read_csv('product_data.csv')

Data Cleaning and normalization

In [5]:
print(customer_df.shape)
print(order_df.shape)
print(product_df.shape)

(1000, 5)
(1000, 11)
(1000, 9)

In [6]:
print(customer_df.isnull().sum())
print(order_df.isnull().sum())
print(product_df.isnull().sum())

id            0
first_name    0
last_name     0
email         0
gender        0
dtype: int64
order_id          0
customer_id       0
product_id        0
quantity          0
unit_price        0
total_price       0
discount          0
order_date        0
payment_method    0
shipping_cost     0
status            0
dtype: int64
product_id        0
category          0
brand             0
price             0
stock_quantity    0
rating            0
created_at        0
updated_at        0
supplier_id       0
dtype: int64

Type Conversion

In [8]:
order_df['order_date'] = pd.to_datetime(order_df['order_date'])
order_df['total_price'] = order_df['total_price'].astype(float)

Verifying the relationships(e.g. all the product_ids in oredr should exist in in product_df and all customer_ids in order should exist in customer_df)

In [10]:
import numpy as np
order_df['customer_id'] = np.random.choice(customer_df['id'], size=len(order_df))

In [11]:
order_df = order_df[order_df['product_id'].isin(product_df['product_id'])]
order_df = order_df[order_df['customer_id'].isin(customer_df['id'])]

Adding a column average_order_value per customer

In [15]:
customer_df['average_order_value'] = order_df.groupby('customer_id')['total_price'].mean()
print(customer_df.head())

   id first_name   last_name                    email      gender
0   1       Dari     Breslin      dbreslin0@mysql.com      Female  \
1   2     Errick     Lovekin   elovekin1@addtoany.com        Male
2   3   Christan  McTurlough  cmcturlough2@rambler.ru      Female
3   4   Gertruda      Loseby      gloseby3@cdbaby.com      Female
4   5       Rosy     Goundry        rgoundry4@icio.us  Non-binary

   average_order_value
0                  NaN
1                 72.5
2                 31.0
3                  NaN
4                 90.0

In [18]:
customer_df['average_order_value'].isnull().sum()

0

In [17]:
x=customer_df['average_order_value'].mean()
customer_df['average_order_value'].fillna(x, inplace=True)

Insert